<main>
  <div class="page-title">
    <h1>Login</h1>
  </div>


  <div class="login-form">

    <p class="box">
      <input type="email" class="textbox" placeholder=" " name="email" id="email" required>
      <label for="email">Email</label>
    </p>

    <p class="box">
      <input type="password" class="textbox" placeholder=" " name="password" id="password" required>
      <label for="password">Password</label>
    </p>

    <p class="box">
      <!-- <input type="submit" class="login-button btn-16" name="submit-login" id="submit-login" value="Entrar"> -->

      <button type="submit" class="login-button" name="submit-login" id="submit-login">Login</button>
      <!-- <a href="#">Submit</a> -->
    </p>

    <p class="pass-area"><a href="#">Não Possui Conta? Registe-se </a></p>

  </div>

  <div class="login-divider">
    <hr> <h2> OU </h2> <hr>
  </div>

</main>
