
<main>
  <img id="question-btn" (click)="openPopup('tool')" src="assets/images/Agenda/question-mark.png" />
  <div class="title">
    <h1>Próximas Consultas</h1>
  </div>

  <div class="firstRow">
    <div class="dropdown">
      <select id="category" (change)="filterSpecialties();filterProfessionalsCategory()">
        <option value="Qualquer" disabled hidden selected>Tipo de Profissional</option>
        <option>Qualquer</option>
        <option *ngFor="let professionalType of professionalTypes" value="{{ professionalType.name }}">{{ professionalType.name }}</option>
      </select>
    </div>
    <div class="dropdown">
      <select id="specialty" (change)="filterProfessionalsCategory()">
        <option value="Qualquer" disabled hidden selected>Especialidade</option>
        <option>Qualquer</option>
        <option *ngFor="let specialty of specialtiesFiltered" value="{{specialty.name}}">{{ specialty.name }}</option>
      </select>
    </div>
  </div>
  <button class="btn-top" (click)="resetDropdowns()">Limpar</button>

  <h2>Próximos Agendamentos</h2>
  <div *ngIf="displayedAppointments.length === 0">
    <p class="noAppointments">Não existem nenhumas consultas com estes filtros.</p>
  </div>
  <div *ngFor="let appointment of displayedAppointments">
    <div class="appointment">
      <div id="info">
        <div id="title-data">
          <h3>Consulta de {{ appointment.speciality }}</h3>
          <div class="text-appointment">{{ convertToDate(appointment.timestamp) }}</div>
          <div class="text-appointment">{{ appointment.address }}</div>
        </div>
        <div id="name-button">
          <div class="hours"><b>{{ convertToHours(appointment.timestamp) }}</b></div>
          <div class="name" id="name-title">{{ appointment.professional?.professionalInfo?.firstName | firstWord}} {{ appointment.professional?.professionalInfo?.lastName | lastWord}}</div>
          <div class="type-appointment">{{ getAppointmentType(appointment.type + "") }}</div>
        </div>
      </div>
      <button class="btn" [routerLink]="['/patient-appointment']" [queryParams]="{ appointment: appointment.id }">Ver Detalhes</button>
    </div>
  </div>
  <div class="more-container" *ngIf="appointmentsFiltered.length > displayedAppointments.length">
    <button class="btn" id="more" (click)="loadMoreAppointments()"><img class="arrow" src="/assets/images/Agenda/arrow-down.png" /></button>
  </div>

  <div class="overlay" id="overlay" (click)="closePopup()">
    <a class="close-button" (click)="closePopup()">
      <img src="assets/images/login/close.png" alt="Close button" class="close-image">
    </a>

    <div id="tooltips" class="overlay-container-tool" (click)="stopPropagation($event)">
      <h2>ToolTips</h2>
      <div class="text-tool">
        <div class="text-tool">{{ currentPhrase }}</div>
      </div>
      <button (click)="nextPhrase()" type="button" class="btn-tool">Continuar</button>
    </div>
  </div>

</main>

