
<div class="container">
  <div class="title"> <b>ESTATÍSTICAS</b></div>
  <div class="small-title">Número de utilizadores registados por ano</div>

  <div class="options">
    <button [class.active]="selectedOption === 'Client'" (click)="selectOption('Client')">Cliente</button>
    <button [class.active]="selectedOption === 'Professional'" (click)="selectOption('Professional')">Profissional</button>
  </div>

  <div class="chart">
    <ng-container *ngIf="dataLoaded">
      <app-bar-chart [data]="data" [dataType]="selectedOption"></app-bar-chart>
    </ng-container>
  </div>

</div>
