
<div class="container">
  <div class="title"> <b>ESTATÍSTICAS</b></div>
  <div class="options">
    <div class="type-user">
      <button id="client-button" [class.active]="selectedOption === 'Client'" (click)="selectOption('Client')">Cliente</button>
      <button id="professional-button" [class.active]="selectedOption === 'Professional'" (click)="selectOption('Professional')">Profissional</button>
    </div>
    <div class="date-time">
      <button id="day-button" [class.active]="selectedDateOption === 'Day'" (click)="selectDateOption('Day')">Dia</button>
      <button id="month-button" [class.active]="selectedDateOption === 'Month'" (click)="selectDateOption('Month')">Mês</button>
      <button id="year-button" [class.active]="selectedDateOption === 'Year'" (click)="selectDateOption('Year')">Ano</button>
    </div>
  </div>
  

  <div class="chart">
    <ng-container *ngIf="dataLoaded">
      <app-bar-chart [data]="data" [dataType]="selectedOption"></app-bar-chart>
    </ng-container>
  </div>

</div>
