.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 50px 50px 109px 50px;
}

.title {
  font-size: 32px;
  margin: 30px;
}

.chart {
  background-color: #fff;
  height: 500px;
  width: 1300px;
  margin-top: 5px;
  border-radius: 20px;
  padding: 5px;
}

.options {
  margin: 30px 0px 10px 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.type-user {
    height: 50px;
    margin-right: 100px;
}

.date-time {
  height: 50px;
  margin-left: 100px;
}

#client-button {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#professional-button {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#day-button {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#year-button {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

button {
  border: 1px black;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

  button.active {
    background-color: #007bff; 
    color: #fff; 
  }

  button:not(.active) {
    background-color: #fff; 
    color: #333; 
  }
