
h1 {
  text-align: center;
  font-size: 50px;
}


.column-left, .column-right {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0px 30px;
  font-size: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 50px;
}

.column-left input,.column-right input {
  min-height: 40px;
  margin-bottom: 25px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
}


.type-acount, .gender {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.radio-label{
    display:flex;
    align-items:center;
}

input[type="radio"] {
  width: 20px;
  margin: 0 10px 0 0!important;
  min-height: none !important;
  max-height: 20px;
  
}


#submit-button {
  margin: 0 auto;
  text-align: center;
}

#submit-button p {
    margin: 3px auto;
    width: 30%;
    text-align:end;
}


.btn-regist {
  height: 40px;
  color: #fff;
  background-color: #1875e7;
  width: 30%;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.btn-regist:hover {
    background-color: #1b69c8;
}

#btn-text, a {
  color: black;
}



