<main>
  <img id="question-btn" (click)="openPopup('tool')" src="assets/images/Agenda/question-mark.png" />
  <div class="title">
    <h1>Marcar Consulta</h1>
    <figure><img id="img-perfil" src="/assets/images/Perfil/profileImage.jpg" /></figure>
    <div class="name" id="name-title"></div>
  </div>

  <div class="select-dropdown">
    <select [(ngModel)]="selectedOption" (change)="onOptionSelectionChange($event)">
      <option disabled hidden value="">Tipo de Consulta</option>
      <option value="">Qualquer</option>
      <option value="Presential">Presencial</option>
      <option value="Online">Online</option>
      <option value="Home">Domicílio</option>
    </select>
  </div>

  <div>
    <h3>Consulta de {{especialidade}} - {{categoria}} </h3>
    <div class="appointement" *ngIf="isSuggestionLoaded">
      <div id="title-data">
        <div><h3 id="">Sugestão de Marcação</h3></div>
        <div class="text-appointement">{{convertToDate(suggestedAppointment.start)}} </div>
      </div>
      <div id="name-button">
        <div class="hours"><b>{{convertToHours(suggestedAppointment.start)}}</b></div>
        <div class="type-appointment">{{getAppointmentTypeByNumber(suggestedAppointment.appointmentType)}}</div>
        <div class="price">{{suggestionPrice  | number: '1.2-2' }}€</div>
      </div>
    </div>
  </div>

  <div class="checkbox">
    <input type="checkbox" id="myCheckbox" [(ngModel)]="checked">
    <label for="myCheckbox"> Quero marcar para outra data</label>
  </div>

  <div class="calender-slots" *ngIf="checked">
    <app-calendario (dateChange)="handleDateChange($event)"></app-calendario>

    <div class="slots">
      <h3 id="title-slots">Vagas disponíveis</h3>
      <div id="available-slots" *ngIf="slots.length > 0; else noSlots">
        <div *ngFor="let slot of slots">
          <div class="box-slot">
            <div class="left">
              <div class="hours-slots"><b>{{convertToHours(slot.start)}}</b></div>
              <div class="data-slots">{{convertToDate(slot.start)}} </div>
            </div>
            <div class="right center-height">
              <div class="price">{{slot.price | number: '1.2-2' }}€</div>
              <div class="type-appointment">{{getAppointmentType(slot.appointmentType)}}</div>
              <div *ngIf="slot.id">
                <button *ngIf="slot.appointmentType !== 'Home'" class="btn-edit" (click)="marcarClick(slot.id, null, null)">Marcar</button>
                <button *ngIf="slot.appointmentType === 'Home'" class="btn-edit" (click)="openPopupAndDefineAppointmentId('address', slot.id)">Marcar</button>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>

      <ng-template #noSlots>
        <div class="box-slot">
          <div class="left">
            <b>Não existem vagas disponíveis.</b>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="overlay" id="overlay" (click)="closePopup()">
    <a class="close-button" (click)="closePopup()">
      <img src="assets/images/login/close.png" alt="Close button" class="close-image">
    </a>
    <form id="edit-address-container" class="overlay-container" [formGroup]="addressForm" (click)="stopPropagation($event)">
      <section>
        <h2>Escolher Morada da Consulta</h2>
        <div id="map"></div>
        <div class="row">
          <input class="info" type="text" id="address-input" formControlName="address" placeholder="Digite o endereço desejado">
        </div>
        <button class="btn btn-blue" (click)="submitAddress()">Salvar Endereço</button>
      </section>
    </form>

    <div id="tooltips" class="overlay-container-tool" (click)="stopPropagation($event)">
      <h2>ToolTips</h2>
      <div class="text-tool">
        <div class="text-tool">{{ currentPhrase }}</div>
      </div>
      <button (click)="nextPhrase()" type="button" class="btn-tool">Continuar</button>
    </div>
  </div>
  <div *ngIf="errorMessages.length > 0">
    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
  </div>
</main>
 
