<div class="title">
  <h1 *ngIf="service?.specialty">Consulta de {{ service?.specialty}}</h1>
</div>

<main>
  <div class="appointments">
    <div class="appointment">
      <div id="info">
        <div id="title-data-under">
          <h3>Consulta {{appointment?.type}} </h3>
          <div class="text-appointment">Data e Hora: {{convertToDate()}} às {{convertToTime()}}</div>
          <div class="text-appointment" *ngIf="appointment?.location && appointment?.type !== 'Online'">Localização: {{appointment?.location}} </div>
        </div>
      </div>
    </div>
    <div class="appointment">
      <div id="info">
        <div id="title-data-under">
          <h3>Consulta para: </h3>
          <div class="text-appointment">{{patient?.firstName}} {{patient?.lastName}}</div>
        </div>
      </div>
    </div>

    <div class="appointment">
      <div id="info">
        <div id="title-data">
          <h3>Informações do Paciente </h3>
          <figure>
            <img class="image" alt="Imagem de Perfil" src="/assets/images/Perfil/profileImage.jpg" />
          </figure>
          <h4>Nome: </h4>
          <div class="text-appointment">{{patient?.firstName}} {{patient?.lastName}}</div>
        </div>
        <div id="title-data-under">
          <h4>Género: </h4>
          <div class="text-appointment"> {{patient?.genero === 'F' ? 'Feminino' : 'Masculino'}}</div>
        </div>
      </div>
    </div>
  </div>

  <section class="right-panel">
    <div>
      <button class="btn">Alterar Consulta</button>
      <button class="btn">Aceitar Consulta</button>
      <button class="btn">Rejeitar Consulta</button>
    </div>
    <div *ngIf="appointment?.type === 'Presential' || appointment?.type === 'Home'" id="map"></div>
    <button *ngIf="appointment?.type === 'Online'" class="btn">Aceder ao chat</button>
  </section>

</main>

