
<form (ngSubmit)="enviarFormulario()" class="perfil">
  <input type="file" (change)="selecionarArquivo($event)" accept="image/*" id="btn-image">
  <img *ngIf="caminhoDaImagem" [src]="caminhoDaImagem" alt="Imagem selecionada" id="img-perfil">
  <button type="submit">Atualizar Foto</button>
</form>

<div *ngIf="errorMessages.length > 0">
  <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
</div>
<form [formGroup]="perfilForm" (ngSubmit)="atualizarPerfil()" autocomplete="off">
  <div class="form-row">

    <div class="row">
      <div class="left">
        <label for="name">Nome:</label>
        <input formControlName="firstName" type="text" id="nome" name="nome" required [class.is-invalid]="submittedProfile && perfilForm.get('firstName')?.errors">
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('firstName')?.hasError('required')">
          Introduza o seu nome
        </span>
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('firstName')?.hasError('maxlength')">
          Não pode introduzir mais de 50 caracteres
        </span>
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('firstName')?.hasError('minlength')">
          O nome tem um mínimo de 3 caracteres
        </span>
      </div>

      <div class="right">
        <label for="apelido">Apelido:</label>
        <input formControlName="lastName" type="text" id="apelido" name="apelido" required [class.is-invalid]="submittedProfile && perfilForm.get('lastName')?.errors">
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('lastName')?.hasError('required')">
          Introduza o seu apelido
        </span>
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('lastName')?.hasError('maxlength')">
          Não pode introduzir mais de 50 caracteres
        </span>
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('lastName')?.hasError('minlength')">
          O apelido tem um mínimo de 3 caracteres
        </span>
      </div>
    </div>

    <div class="row">
      <div class="left">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" id="email" name="email" required [class.is-invalid]="submittedProfile && perfilForm.get('email')?.errors">
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('email')?.hasError('required')">
          O email é obrigatório
        </span>
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('email')?.hasError('email')">
          Email inválido
        </span>
      </div>
      <div class="right">
        <label for="telemovel">Telemóvel:</label>
        <input formControlName="telemovel" maxlength="9" type="tel" id="telemovel" name="telemovel" oninput="this.value = this.value.replace(/[^0-9]/g, '');" [class.is-invalid]="submittedProfile && perfilForm.get('telemovel')?.errors">
        <span class="text-danger" *ngIf="submittedProfile && (perfilForm.get('telemovel')?.hasError('maxlength') || submittedProfile && perfilForm.get('telemovel')?.hasError('minlength'))">
          O telemóvel deve ter 9 dígitos
        </span>
      </div>
    </div>

    <div class="row">
      <div class="left">
        <div class="gender">
          <label>Género:</label>
          <label for="male" class="radio-label"><input formControlName="genero" type="radio" name="genero" value="M" id="male"> Masculino</label>
          <label for="female" class="radio-label"><input formControlName="genero" type="radio" name="genero" value="F" id="female"> Feminino</label>
        </div>
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('genero')?.hasError('required')">
          Selecione um género
        </span>
      </div>
      <div class="right">
        <label for="nif">NIF:</label>
        <input formControlName="nif" maxlength="9" type="text" id="nif" name="nif" oninput="this.value = this.value.replace(/[^0-9]/g, '');" required [class.is-invalid]="submittedProfile && perfilForm.get('nif')?.errors">
        <span class="text-danger" *ngIf="submittedProfile && perfilForm.get('nif')?.hasError('required')">
          O NIF é obrigatório
        </span>
        <span class="text-danger" *ngIf="submittedProfile && (perfilForm.get('nif')?.hasError('maxlength') || submittedProfile && perfilForm.get('nif')?.hasError('minlength'))">
          NIF deve ter 9 dígitos
        </span>
      </div>
    </div>

  </div>

  <div id="submit-button">
    <button type="submit" class="btn-regist">Atualizar</button>
  </div>

</form>
<div *ngIf="responseText">
  <pop-up-success [message]=responseText></pop-up-success>
</div>
<form [formGroup]="passwordForm" (ngSubmit)="alterarPassword()" autocomplete="off" *ngIf="!loading">
  <div class="form-pass">


    <div class="row-pass">
      <h3>Alteração de Password</h3>
      <label for="name">Password Atual:</label>
      <input formControlName="password" type="password" id="passwordAtual" name="passwordAtual" required [class.is-invalid]="submittedPassword && passwordForm.get('password')?.errors">
      <span class="text-danger" *ngIf="submittedPassword && passwordForm.get('password')?.hasError('required')">
        Introduza uma password
      </span>
      <span class="text-danger" *ngIf="submittedPassword && (passwordForm.get('password')?.hasError('maxlength') ||  passwordForm.get('password')?.hasError('minlength'))">
        A password deve conter entre 8 e 50 caracteres
      </span>
      <span class="text-danger" *ngIf="submittedPassword && (passwordForm.get('password')?.hasError('passwordPattern'))">
        A password deve conter pelo menos uma letra minúscula, uma letra maiúscula e um dígito.
      </span>
    </div>

    <div class="row">
      <div class="left">
        <label for="novaPassword">Nova Password:</label>
        <input formControlName="novaPassword" type="password" id="novaPassword" name="novaPassword" required [class.is-invalid]="submittedPassword && passwordForm.get('novaPassword')?.errors">
        <span class="text-danger" *ngIf="submittedPassword && passwordForm.get('novaPassword')?.hasError('required')">
          Confirme a password
        </span>
        <span class="text-danger" *ngIf="submittedPassword && (passwordForm.get('novaPassword')?.hasError('maxlength') || submittedPassword && passwordForm.get('novaPassword')?.hasError('minlength'))">
          A password deve conter entre 8 e 50 caracteres
        </span>
        <span class="text-danger" *ngIf="submittedPassword && (passwordForm.get('novaPassword')?.hasError('passwordPattern'))">
          A password deve conter pelo menos uma letra minúscula, uma letra maiúscula e um dígito.
        </span>
      </div>

      <div class="right">
        <label for="repetirNovaPassword">Repetir Nova Password:</label>
        <input formControlName="repetirNovaPassword" type="password" id="repetirNovaPassword" name="repetirNovaPassword" required [class.is-invalid]="submittedPassword && passwordForm.get('repetirNovaPassword')?.errors">
        <span class="text-danger" *ngIf="submittedPassword && passwordForm.get('repetirNovaPassword')?.hasError('required')">
          Confirme a password
        </span>
        <span class="text-danger" *ngIf="submittedPassword && (passwordForm.get('repetirNovaPassword')?.hasError('maxlength') || submittedPassword && passwordForm.get('repetirNovaPassword')?.hasError('minlength'))">
          A password deve conter entre 8 e 50 caracteres
        </span>
        <span class="text-danger" *ngIf="submittedPassword && (passwordForm.get('repetirNovaPassword')?.hasError('passwordPattern'))">
          A password deve conter pelo menos uma letra minúscula, uma letra maiúscula e um dígito.
        </span>
      </div>
    </div>
  </div>

  <div id="submit-button">
    <button type="submit" class="btn-regist">Alterar Password</button>
  </div>

</form>

<div *ngIf="loading">
  <loading-spinner></loading-spinner>
</div>

