<div class="perfil">
  <a href=""><img src="perfil.jpeg" alt="imagem teste" id="img-perfil"></a>
  <button type="submit" class="btn-regist">Alterar Foto</button>
</div>

<form [formGroup]="perfilForm" (ngSubmit)="atualizarPerfil()">
  <div class="form-row">

    <div class="row">
      <div class="left">
        <label for="name">Nome:</label>
        <input formControlName="firstName" type="text" id="nome" name="nome" required>   
      </div>

      <div class="right">
        <label for="apelido">Apelido:</label>
        <input  formControlName="lastName" type="text" id="apelido" name="apelido" required [class.is-invalid]=" perfilForm.get('apelido')?.errors">
        <span class="text-danger" *ngIf=" perfilForm.get('apelido')?.hasError('required')">
          Introduza o seu apelido
        </span>
        <span class="text-danger" *ngIf="perfilForm.get('apelido')?.hasError('maxlength')">
          Não pode introduzir mais de 50 caracteres
        </span>
        <span class="text-danger" *ngIf="perfilForm.get('apelido')?.hasError('minlength')">
          O apelido tem um mínimo de 3 caracteres
        </span>
      </div>
    </div>

    <div class="row">
      <div class="left">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" id="email" name="email" required [class.is-invalid]="perfilForm.get('email')?.errors">
        <span class="text-danger" *ngIf="perfilForm.get('email')?.hasError('required')">
          O email é obrigatório
        </span>
        <span class="text-danger" *ngIf="perfilForm.get('email')?.hasError('email')">
          Email inválido
        </span>
      </div>
      <div class="right">
        <label formControlName="telemovel" for="telemovel">Telemóvel:</label>
        <input maxlength="9"  type="tel" id="telemovel" name="telemovel">
      </div>
    </div>

    <div class="row">
      <div class="left">
        <div class="gender">
          <label>Género:</label>
          <label for="male" class="radio-label">
            <input type="radio" name="genero"
                   value="M" id="male"> Masculino
          </label>
          <label for="female" class="radio-label">
            <input  type="radio"
                   name="genero" value="F" id="female"> Feminino
          </label>
        </div>
      </div>
      <div class="right">
        <label for="nif">NIF:</label>
        <input  formControlName="nif" maxlength="9" type="text" id="nif" name="nif">
      </div>
    </div>

  </div>

  <div id="submit-button">
    <button type="submit" class="btn-regist">Atualizar</button>
  </div>

</form>


<form [formGroup]="passwordForm" (ngSubmit)="alterarPassword()">
  <div class="form-pass">


    <div class="row-pass">
      <h3>Alteração de Password</h3>
      <label for="name">Password Atual:</label>
      <input  type="password" id="passwordAtual" name="passwordAtual" required>
    </div>

    <div class="row">
      <div class="left">
        <label for="novaPassword">Nova Password:</label>
        <input  type="password" id="novaPassword" name="novaPassword"
               required>
      </div>

      <div class="right">
        <label for="repetirNovaPassword">Repetir Nova Password:</label>
        <input  type="password" id="repetirNovaPassword"
               name="repetirNovaPassword" required>
      </div>
    </div>
  </div>

  <div id="submit-button">
    <button type="submit" class="btn-regist">Alterar Password</button>
  </div>

</form>

