h1 {
  text-align: center;
  font-size: 50px;
  margin: 25px 0 0 0;
}

#password-reset-container {
  width: 400px;
  text-align: center;
  margin: 20px auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 200px;
  height: auto;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  margin-top: 20px;
}

button {
  background-color: #1875e7;
  color: white;
  padding: 10px;
  border: none;
  margin: 50px;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

  button:hover {
    background-color: #1b69c8;
  }

.is-invalid {
  border: 2px solid #cc0000 !important;
}

.text-danger {
  width: 100%;
  margin-top: 5px;
  color: #cc0000;
  display: block;
  text-align: left;
}
