main {
  display: flex;
  width: 100%;
  height: calc(100vh - 65px);
}

#left-panel {
  width: 45%;
  height: 100%;
}

#right-panel {
  height: 100%;
  width: 55%;
  position: relative;
  /*border-left: 2px solid black;*/
}

#filter-section {
  padding: 10px;
  /*border-bottom: 2px solid black;*/
  height: 165px;
}

#filters {
  display: flex;
  justify-content: space-between;
}

#order-div {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.margin-select {
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center-height {
  display: flex;
  align-items: center;
}

.display-block {
  display: block;
}

/* -------------------------------------- select option ------------------------------------- */
.select-form-box {
  width: fit-content;
}

.select-dropdown,
.select-dropdown * {
  position: relative;
}

.select-dropdown {
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  width: 100%;
}

  .select-dropdown select {
    font-size: 1.1rem;
    font-weight: normal;
    width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

    .select-dropdown select option {
      height: fit-content;
    }

    .select-dropdown select:active, .select-dropdown select:focus {
      outline: none;
      box-shadow: none;
    }

  .select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

/* -------------------------------------- services ------------------------------------- */

.placeholder {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#service-section {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 230px);
}

.service-tab {
  background-color: white;
  display: flex;
  padding: 20px;
  /*border-bottom: 2px solid black;*/
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

  .service-tab:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
  }

  .service-tab * {
    text-transform: uppercase;
  }

  .service-tab > figure {
    width: 100px;
    margin-right: 20px;
  }

    .service-tab > figure > img {
      width: 100px;
      object-fit: cover;
      border-radius: 50%;
    }

.service-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.small-right-margin {
  margin-right: 5px;
}

.star {
  max-width: 20px;
  pointer-events: none;
  user-select: none;
}
/* -------------------------------------- map ------------------------------------- */

#map {
  height: 100%; 
  width: 100%;
}

.button-over-map {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 10px 20px;
  background-color: #1875e7;
  color: white;
  border: none; /* Sem borda para um visual mais limpo */
  border-radius: 20px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor de ponteiro para indicar que é clicável */
  box-shadow: 0 2px 6px rgba(0,0,0,0.3); /* Sombra para destacar o botão do mapa */
  transition: background-color ease-in-out 0.3s;
}

  .button-over-map:hover {
    background-color: #1b69c8; /* Cor de fundo ao passar o mouse */
  }

  .button-over-map:active {
    transform: translate(-50%, 2px);
  }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  border-radius: 5px;
  width: 60%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  /* Posicione o campo de pesquisa no mapa */
  position: absolute;
  left: 60%;
  top: 5px;
  z-index: 5;
  transform: translateX(-50%)
}

#no-professionals {
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  #pac-input {
      width: 50%;
    }
}
