<main>
  <section id="left-panel">
    <section id="filter-section">
      <div id="filters-div">
        <p class="bold margin-select">Filtrar:</p>
        <div id="filters">
          <div class="select-form-box">
            <div class="select-dropdown">
              <select id="category" (change)="filterSpecialties(); filterProfessionalsType(); filterProfessionals();">
                <option value="0" selected disabled hidden>Categoria</option>
                <option value="0">Qualquer</option>
                <option *ngFor="let type of professionalTypes" value="{{ type.id }}">{{ type.name }}</option>
              </select>
            </div>
          </div>
          <div id="speciality-select-box" class="select-form-box">
            <div class="select-dropdown">
              <select id="specialty" (change)="filterProfessionals();">
                <option value="0" selected disabled hidden>Especialidade</option>
                <option value="0">Qualquer</option>
                <option *ngFor="let specialty of specialtiesFiltered" value="{{ specialty.id }}">{{ specialty.name }}</option>
              </select>
            </div>
          </div>
          <div style="display:none;" class="select-form-box">
            <div class="select-dropdown">
              <select id="consulta-tipo" >
                <option value="0" selected disabled hidden>Tipo de Consulta</option>
                <option value="0">Qualquer</option>
                <option value="P">Presencial</option>
                <option value="O">Online</option>
                <option value="D">Domiciliar</option>
              </select>
            </div>
          </div>
        </div>
      </div><div id="order-div">
        <p class="bold margin-select">Ordenar:</p>
        <div id="order">
          <div class="select-form-box">
            <div class="select-dropdown">
              <select id="order-select" (change)="orderBy()">
                <option value="0" selected>Ordenar por</option>
                <option value="rank">Ranking</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="service-section" *ngIf="professionals.length > 0">
      <div class="service-tab" *ngFor="let professional of filteredProfessionals" [routerLink]="['/professional-profile']" [queryParams]="{ id: professional.professionalInfo.id }"
>
        <figure>
          <img src="/assets/images/Perfil/profileImage.jpg" alt="Foto de Perfil" />
        </figure>
        <div class="service-info">
          <div class="row">
            <h3>{{ getProfessionalName(professional) }}</h3>
            <div class="row center-height">
              <img class="placeholder" src="/assets/images/Mapa/placeholder.png" alt="Localização" />
              <p>{{ professional.concelho }}</p>
            </div>
          </div>
          <div class="row center-height">
            <div class="row center-height">
              <span class="small-right-margin">{{ (professional.reviews.length !== 0 && professional.averageStars) ? professional.averageStars.toFixed(1).replace('.', ',') : '-' }}</span>
              <img src="assets/images/profile/star.png" alt="Estrela" class="star display-block" />
            </div>
            <p>{{ getProfessionalCategory(professional) }}</p>
          </div>
        </div>
      </div>
    </section>
    <section id="service-section" *ngIf="professionals.length === 0">
      <div id="no-professionals-div">
        <p id="no-professionals">Não existem profissionais neste local</p>
      </div>
    </section>
  </section>
  <section id="right-panel">
    <input id="pac-input" #searchBox class="controls" type="text" placeholder="Pesquise por localizações" />
    <div id="map"></div>
    <button *ngIf="mapMoved" (click)="getProfessionalsOnBounds()" class="button-over-map">Pesquisar nesta área</button>
  </section>
</main>
