<div class="img">
  <div class="text">
    <p>
      Bem-vindo à LusoHealth, uma revolução na prestação de cuidados de saúde. Somos mais do que uma plataforma
      somos uma visão transformadora que visa reinventar a acessibilidade e a utilização dos serviços de saúde.
      Este é o ponto central da nossa missão.
    </p>
    <p>
      A nossa missão é simples, mas poderosa: eliminar as esperas em filas,
      reduzir o fluxo desnecessário em centros de saúde e hospitais, e levar os serviços diretamente ao cliente.
      Queremos melhorar a qualidade de vida, proporcionando uma abordagem centrada no utilizador.
    </p>
    <p>
      Junte-se a nós nesta jornada.
      A LusoHealth não é apenas uma plataforma de saúde; é a evolução do cuidado, colocando a sua saúde nas suas mãos.
      Descubra uma nova era na prestação de serviços de saúde, onde a inovação encontra a compaixão.
    </p>
  </div>
</div>
