  <nav>
    <div class="logo">
      <a routerLink=" " class="nav-link" routerLinkActive="active ">
        <img src="assets/images/NavBar/navbar-icon.png" alt="Logo LusoHealth">
      </a>
</div>
    <ul>
     

      <li>
        <a routerLink="" class="nav-link" routerLinkActive="active" (click)="toggleDropdown('marcacoes')">
          <img class="menu-icons" src="assets/images/NavBar/doctor-icon.png" alt="Ícone Marcações" />
          <div class="nav-text"> Marcações </div>
        </a>
        <ul class="dropdown-content" *ngIf="isDropdownOpen && activeDropdown === 'marcacoes'">
          <li class="dropdown-menu">
            <img class="dropdown-menu.icons" src="assets/images/NavBar/maps.png" />
            <a routerLink="" class="nav-link" routerLinkActive="active">Mapa</a>
          </li>
        </ul>
      </li>

      <div class="nav-li-spacer"></div>

      <li>
        <a routerLink="" class="nav-link" routerLinkActive="active" (click)="toggleDropdown('agenda')">
          <img class="menu-icons" src="assets/images/NavBar/agenda-icon.png" alt="Ícone Agenda" />
          <div class="nav-text"> Agenda </div>
        </a>
        <ul class="dropdown-content" *ngIf="isDropdownOpen && activeDropdown === 'agenda'">
          <li class="dropdown-menu">
            <img class="dropdown-menu.icons" src="assets/images/NavBar/paper.png" />
            <a routerLink="" class="nav-link" routerLinkActive="active">Histórico</a>
          </li>
        </ul>
      </li>

      <div class="nav-li-spacer"></div>

      <li>
        <a [routerLink]="['/authentication/login']" class="nav-link" routerLinkActive="active" (click)="toggleDropdown('perfil')">
          <img class="menu-icons" src="assets/images/NavBar/user-icon.png" alt="Ícone Perfil" />
          <div class="nav-text"> Perfil </div>
        </a>
        <ul class="dropdown-content" *ngIf="isDropdownOpen && activeDropdown === 'perfil'">
          <li class="dropdown-menu">
            <img class="dropdown-menu.icons" src="assets/images/NavBar/logout.png"/>
            <a routerLink="" class="nav-link" routerLinkActive="active">Terminar Sessão</a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
