<nav>
  <div class="logo">
    <a routerLink="" class="nav-link" routerLinkActive="active ">
      <img id="logo-navbar" src="assets/images/NavBar/navbar-icon.png" alt="Logo LusoHealth">
    </a>
  </div>
  <ul id="menu">
    <li class="sub-menu-parent">
      <a [routerLink]="['/services']" class="nav-link" routerLinkActive="active">
        <img class="menu-icons" src="assets/images/NavBar/doctor-icon.png" alt="Ícone Marcações" />
        <div class="nav-text"> Marcações </div>
      </a>
      <ul class="sub-menu">
        <li class="dropdown-element">
          <img src="assets/images/NavBar/maps.png" />
          <a [routerLink]="['/map']" class="nav-link" routerLinkActive="active">Mapa</a>
        </li>
      </ul>
    </li>
    <li class="sub-menu-parent">
      <a routerLink="" class="nav-link" routerLinkActive="active">
        <img class="menu-icons" src="assets/images/NavBar/agenda-icon.png" alt="Ícone Agenda" />
        <div id="agenda-text" class="nav-text"> Agenda </div>
      </a>
      <ul class="sub-menu">
        <li class="dropdown-element">
          <img src="assets/images/NavBar/paper.png" />
          <a routerLink="" class="nav-link" routerLinkActive="active">Histórico</a>
        </li>
      </ul>
    </li>
    <li class="sub-menu-parent">
      <a [routerLink]="['/login']" *ngIf="(authenticationService.user$ | async) === null" class="nav-link" routerLinkActive="active">
        <img class="menu-icons" src="assets/images/NavBar/user-icon.png" alt="Ícone Perfil" />
        <div id="login-text" class="nav-text">Login</div>
      </a>
      <a [routerLink]="routerProfile" *ngIf="(authenticationService.user$ | async) as user" class="nav-link" routerLinkActive="active">
        <img class="menu-icons" src="assets/images/NavBar/user-icon.png" alt="Ícone Perfil" />
        <div id="perfil-text" class="nav-text">Perfil</div>
      </a>
      <ul class="sub-menu">
        <li class="dropdown-element" (click)="logout()" *ngIf="(authenticationService.user$ | async) as user">
          <img src="assets/images/NavBar/logout.png" />
          <a routerLink="" class="nav-link" routerLinkActive="active">Terminar Sessão</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
