.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 30px 0px 275px 0px;
}

.left-div {
  width: 100%;
  justify-content: flex-start;
}

.filters {
  margin: 20px;

}

.filter-title {
  font-size: 20px;
}

#filter {
  height: 20%;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 15px;
  font-size: 1.1rem;
  font-weight: normal;
  max-width: 400px;
  border: none;
  padding: 8px 24px 8px 10px;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
}

.small-title {
  font-size: 28px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.chart {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 15px;
  width: 80%;
}
