<main>
  <div class="header">

    <h1>LusoHealth</h1>


    <div id="searchSection">
      <div id="searchDiv" [class.rounded-bottom]=" searchResults.length > 0">
        <input class="searchBar" type="text" placeholder="Pesquise por especialidades"
               (input)="onSearchInput($event)">
        <figure class="searchIcon">
          <img src="assets/images/HomePage/search.png" alt="Ícone de pesquisa de filtros">
        </figure>
      </div>
      <ul id="myUL">
        <li class="option" *ngFor="let specialty of searchResults" (click)="selectSpecialty(specialty)">
          <a [routerLink]="['/services']"
             [queryParams]="{categoryId: specialty.professionalTypeId, specialty: specialty.name }">
            <p>{{ specialty.name }}</p>
            <p class="gray">{{ getProfessionalTypeName(specialty.professionalTypeId) }}</p>
          </a>
        </li>
      </ul>

      <div class="populares">
        <div class="form-buttons-row" *ngIf="(topSpecialties.length > 0)">
          <p class="populares-texto">Populares:</p>
          <button class="btn"
                  *ngFor="let specialty of topSpecialties; let i = index"
                  [routerLink]="['/services']"
                  [queryParams]="{categoryId: specialty.professionalTypeId, specialty: specialty.name }">
            {{specialty.name}}
          </button>
        </div>
      </div>
    </div>
  </div>


  <section class="categorias" *ngFor="let professionalType of professionalTypes">
    <p class="categoria-texto">{{ professionalType.name }}</p>
    <div class="categoria">
      <div *ngFor="let service of servicesByProfessionalType[professionalType.id]">
          <div class="tab" [routerLink]="['/make-appointment']" [queryParams]="{ serviceId: service.serviceId }">
            <div id="icons">
              <figure class="rating">
                <p>{{ service.rating === 0 ? '-' : service.rating.toFixed(1) }}</p>
                <img alt="Estrela" class="star" src="/assets/images/profile/star.png">
              </figure>
            </div>
            <div class="content">
              <div class="content-name">
                <span>{{ service.professional.professionalInfo.firstName | firstWord }} {{ service.professional.professionalInfo.lastName | lastWord }}</span>
              </div>
              <div>
                <span>Especialidade:</span>
                <p>{{service.specialty}}</p>
              </div>
              <p>Preço por hora: {{service.pricePerHour}}€</p>
            </div>
          </div>

      </div>
    </div>
  </section>
</main>

