<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
</head>
<body>

  <div id="password-reset-container">
    <h2>Alterar Password</h2>
    <hr>
    <img src="assets/images/Recuperation/LusoIcon.png" alt="Image">
    <input type="password" placeholder="Password">
    <input type="password" placeholder="Confirmar password">
    <button>Confirmar</button>
  </div>

</body>
</html>
