<div class="container">
  <div class="title"> <b>ESTATÍSTICAS</b></div>

  <div class="row-container">
    <div class="row">
      <div class="small-title">Clientes</div>
      <div class="card">
        <div class="card-header">Número de Registados</div>
        <div class="card-body">
          <!-- 1000 -->
        </div>
      </div>
      <div class="card">
        <div class="card-header">Número de Emails Válidos</div>
        <div class="card-body">
          <!-- 1000 -->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="small-title">Profissionais</div>
      <div class="card">
        <div class="card-header">Número de Registados</div>
        <div class="card-body">
          <!-- 1000 -->
        </div>
      </div>
      <div class="card">
        <div class="card-header">Número de Emails Válidos</div>
        <div class="card-body">
          <!-- 1000 -->
        </div>
      </div>
    </div>
  </div>
</div>
