<main>
  <img id="question-btn" (click)="openPopup('tool')" src="assets/images/Agenda/question-mark.png" />
  <section>
    <div class="firstRow">
      <h4>Filtrar:</h4>
      <div class="dropdown">
        <select id="category" [(ngModel)]="selectedCategory" (change)="filterSpecialties(); getServicesFiltered();">
          <option value="" disabled hidden selected>Categoria</option>
          <option value="0">Qualquer</option>
          <option *ngFor="let professionalType of professionalTypes" value="{{ professionalType.id }}">{{ professionalType.name }}</option>
        </select>
      </div>
      <div class="dropdown">
        <select id="specialty" [(ngModel)]="selectedSpecialty" (change)="getServicesFiltered()">
          <option value="" disabled hidden selected>Especialidade</option>
          <option value="0">Qualquer</option>
          <option *ngFor="let specialty of specialtiesFiltered" value="{{specialty.name}}">{{ specialty.name }}</option>
        </select>
      </div>
      <div class="dropdown">
        <select id="type" [(ngModel)]="selectedType" (change)="getServicesFiltered()">
          <option value="" disabled hidden selected>Tipo de Consulta</option>
          <option value="0">Qualquer</option>
          <option value="Online">Online</option>
          <option value="Presential">Presencial</option>
          <option value="Home">Domicilio</option>
        </select>
      </div>
      <button class="btn" [routerLink]="['/map']">Ver Mapa</button>
    </div>

    <div class="secondRow">
      <h4>Ordenar:</h4>
      <div class="dropdown">
        <select id="order" [(ngModel)]="selectedOrder" (ngModelChange)="orderBy()">
          <option disabled hidden selected>Ordenar</option>
          <option value="Rank">Ranking</option>
          <option value="p<">Preco Ascendente</option>
          <option value="p>">Preco Descendente</option>
        </select>
      </div>
    </div>

    <div class="header">
      <div id="searchDiv" [class.rounded-bottom]=" searchResults.length > 0">
        <figure class="searchIcon">
          <img src="assets/images/HomePage/search.png" alt="Ícone de pesquisa de filtros">
        </figure>
        <input class="searchBar" type="text" placeholder="Pesquise por nome" [(ngModel)]="searchTerm" (keyup)="onSearchInput()">
      </div>
    </div>

    <div *ngIf="loading">
      <loading-spinner></loading-spinner>
    </div>
    <section *ngIf="!loading" class="categorias">
      <div class="categoria" *ngFor="let service of services">
        <div class="tab" [routerLink]="['/make-appointment']" [queryParams]="{ serviceId: service.serviceId }">
          <div id="icons">
            <figure class="rating">
              <p>{{ returnStars(service) === 0 ? '-' : returnStars(service)}}</p>
              <img alt="Estrela" class="star" src="/assets/images/profile/star.png">
            </figure>
          </div>
          <div class="content">
            <div class="content-name">
              <span>{{ service.professional.professionalInfo.firstName | firstWord }} {{ service.professional.professionalInfo.lastName | lastWord }}</span>
            </div>
            <div>
              <span>Especialidade:</span>
              <p>{{service.specialty}}</p>
            </div>
            <!--<div><p>{{service.professional.location}}</p></div>-->
            <p>Preço por hora: {{service.pricePerHour}}€</p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <div class="pagination">
    <button class="page-arrow" id="prev" (click)="prevPage()" [disabled]="currentPage === 1"><</button>
    <button class="page-btn" *ngIf="currentPage > 2" (click)="goToPage(currentPage-2)">{{currentPage-2}}</button>
    <button class="page-btn" *ngIf="currentPage > 1" (click)="goToPage(currentPage-1)">{{currentPage-1}}</button>
    <button class="page-btn current">{{currentPage}}</button>
    <button class="page-btn" (click)="goToPage(currentPage+1)" [disabled]="!hasMorePages">{{currentPage+1}}</button>
    <button class="page-arrow" id="next" (click)="nextPage()" [disabled]="!hasMorePages">></button>
  </div>

  <div class="overlay" id="overlay" (click)="closePopup()">
    <a class="close-button" (click)="closePopup()">
      <img src="assets/images/login/close.png" alt="Close button" class="close-image">
    </a>

    <div id="tooltips" class="overlay-container-tool" (click)="stopPropagation($event)">
      <h2>ToolTips</h2>
      <div class="text-tool">
        <div class="text-tool">{{ currentPhrase }}</div>
      </div>
      <button (click)="nextPhrase()" type="button" class="btn-tool">Continuar</button>
    </div>
  </div>
</main>
