  <div class="header">
    <div id="searchDiv" [class.rounded-bottom]=" searchResults.length > 0">
      <figure class="searchIcon">
        <img src="assets/images/HomePage/search.png" alt="Ícone de pesquisa de filtros">
      </figure>
      <input class="searchBar" type="text" placeholder="Pesquise por nome"
             (input)="onSearchInput($event)">
    </div>
    <ul id="myUL">
      <li class="option" *ngFor="let specialty of searchResults" (click)="selectSpecialty(specialty)"><a href="#">{{ specialty }}</a></li>
    </ul>
  </div>



<section class="categorias">
  <div class="categoria" *ngFor="let professional of professionals">
        <div class="tab">
          <div id="icons">
            <figure class="rating">{{ calculateHighestRatedStars(professional)}} <img alt="Estrela" class="star" src="/assets/images/profile/star.png"></figure>
          </div>
          <div class="content">
            <div class="content-name">
              <span>{{ professional.professionalInfo.firstName  }} {{ professional.professionalInfo.lastName  }}</span>
            </div>
            <div>
              <span>Especialidades:</span>
              <p>{{findHighestRatedSpecialty(professional)}}</p>
            </div>
            <div><p>{{professional.location}}</p></div>
            <p>Preço por hora: {{findHighestRatedSpecialtyPrice(professional)}}€</p>
          </div>
        </div>
  </div>
</section>

