
<main>
  <img id="question-btn" (click)="openPopup('tool')" src="assets/images/Agenda/question-mark.png" />
  <div class="title">
    <h1>Próximas Consultas</h1>
    <button class="btn" id="disponibility" [routerLink]="['/availability']">Ver Disponibilidade</button>
  </div>




  <div class="page">
    <div class="left">
      <div class="schedules">
        <h2>Próximos Agendamentos</h2>
        <div *ngFor="let appointment of displayedAppointments">
          <div class="appointment">
            <div id="info">
              <div id="title-data">
                <h3>Consulta de {{ findSpecialtyByServiceId(appointment.idService) }}</h3>
                <div class="text-appointment">{{ convertToDate(appointment.timestamp) }}</div>
                <div class="text-appointment">{{getPatientNameById(appointment.idPatient)}}</div>
                <div class="text-appointment">{{ getAppointmentType(appointment.type + "") }}</div>
              </div>
              <div class="hours"><b>{{ convertToHours(appointment.timestamp) }}</b></div>
            </div>
            <button class="btn" [routerLink]="['/professional-appointment']" [queryParams]="{ appointment: appointment.id }">Ver Detalhes</button>
          </div>
        </div>

        <div class="more-container" *ngIf="appointments.length > displayedAppointments.length">
          <button class="btn" id="more" (click)="loadMoreAppointments()"><img class="arrow" src="/assets/images/Agenda/arrow-down.png" /></button>
        </div>
      </div>

    </div>

    <div class="right">

      <div class="schedules">
        <h2>Pedidos de Consultas</h2>
        <div *ngFor="let appointment of displayedAppointmentsPending">
          <div class="appointment">
            <div id="info">
              <div id="title-data">
                <h3>Consulta de {{ findSpecialtyByServiceId(appointment.idService) }}</h3>
                <div class="text-appointment">{{ convertToDate(appointment.timestamp) }}</div>
                <div class="text-appointment">{{ getPatientNamePendingById(appointment.idPatient)}}</div>
                <div class="text-appointment">{{ getAppointmentType(appointment.type + "") }}</div>
              </div>
              <div class="hours"><b>{{ convertToHours(appointment.timestamp) }}</b></div>
            </div>
            <div class="buttons">
              <button class="btn" [routerLink]="['/professional-appointment']" [queryParams]="{ appointment: appointment.id }">Detalhes</button>
              <div>
                <button (click)="openPopup('accept', appointment)" class="icon-btn"><img class="icon" src="/assets/images/Agenda/checked.png" /></button>
                <button (click)="openPopup('remove', appointment)" class="icon-btn"><img class="icon" src="/assets/images/Agenda/cancel.png" /></button>
              </div>
            </div>
          </div>
        </div>


        <div class="more-container" *ngIf="appointmentsPending.length > displayedAppointmentsPending.length">
          <button class="btn" id="more" (click)="loadMoreAppointmentsPending()"><img class="arrow" src="/assets/images/Agenda/arrow-down.png" /></button>
        </div>
      </div>
    </div>
  </div>

  <div class="overlay" id="overlay" (click)="closePopup()">
    <a class="close-button" (click)="closePopup()">
      <img src="assets/images/login/close.png" alt="Close button" class="close-image">
    </a>

    <div id="tooltips" class="overlay-container-tool" (click)="stopPropagation($event)">
      <h2>ToolTips</h2>
      <div class="text-tool">
        <div class="text-tool">{{ currentPhrase }}</div>
      </div>
      <button (click)="nextPhrase()" type="button" class="btn-tool">Continuar</button>
    </div>
  </div>

</main>

<div class="overlay" id="overlay" (click)="closePopup()">
  <div id="remove-appointment-container" class="overlay-container" autocomplete="off" (click)="stopPropagation($event)">
    <h2>Tem a certeza que deseja cancelar a consulta?</h2>
    <div class="form-buttons-row">
      <button type="reset" (click)="closePopup()" class="btns btns-blue">Voltar</button>
      <button type="submit" (click)="cancelAppointment()" class="btns btns-red">Cancelar</button>
    </div>
  </div>

  <div id="accept-appointment-container" class="overlay-container" autocomplete="off" (click)="stopPropagation($event)">
    <h2>Tem a certeza que deseja aceitar a consulta?</h2>
    <div class="form-buttons-row">
      <button type="reset" (click)="closePopup()" class="btns btns-red">Voltar</button>
      <button type="submit" (click)="changeAppointmentScheduled()" class="btns btns-blue">Aceitar</button>
    </div>
  </div>
</div>
