<div class="title">
  <h1>Próximas Consultas</h1>
  <button class="btn" id="disponibility" [routerLink]="['/availability']" >Ver Disponibilidade</button>
</div>



<main>
  <div class="page">


    <div class="left" >

      <div class="schedules">
        <h2>Próximos Agendamentos</h2>
        <div *ngFor="let appointment of displayedAppointments">
          <div class="appointment">
            <div id="info">
              <div id="title-data">
                <h3>Consulta de {{ findSpecialtyByServiceId(appointment.idService) }}</h3>
                <div class="text-appointment">{{ convertToDate(appointment.timestamp) }}</div>
                <div class="text-appointment">Nome Paciente</div>
                <div class="text-appointment">{{ getAppointmentType(appointment.type) }}</div>
              </div>
              <div class="hours"><b>{{ convertToHours(appointment.timestamp) }}</b></div>
            </div>
            <button class="btn">Ver Detalhes</button>
          </div>
        </div>

        <div class="more-container" *ngIf="appointments.length > displayedAppointments.length">
          <button class="btn" id="more" (click)="loadMoreAppointments()"><img class="arrow" src="/assets/images/Agenda/arrow-down.png" /></button>
        </div>
      </div>

    </div>

    <div class="right">

      <div class="schedules">
          <h2>Pedidos de Consultas</h2>
        <div class="appointment">
          <div id="info">
            <div id="title-data">
              <h3>Consulta de [Especialidade]</h3>
              <div class="text-appointment">9 janeiro 2024</div>
              <div class="text-appointment">Manuela Dias</div>
              <div class="text-appointment">Consulta Presencial</div>
            </div>
            <div class="hours"><b>18:00</b></div>
          </div>
          <div class="buttons">
            <button class="btn">Detalhes</button>
            <button class="icon-btn"><img class="icon" src="/assets/images/Agenda/checked.png" /></button>
            <button class="icon-btn"><img class="icon" src="/assets/images/Agenda/cancel.png" /></button>
          </div>

        </div>


        <div class="more-container">
          <button class="btn" id="more"><img class="arrow" src="/assets/images/Agenda/arrow-down.png" /></button>
        </div>
      </div>
    </div>
  </div>

</main>

