<main>

  <section class="form-row">

    <div id="button">
      <button class="btn-edit" [routerLink]="['/edit-profile']">Editar Perfil</button>
    </div>

    <figure>
      <img class="image" alt="Imagem de Perfil" [src]="profileImagePath"/>
    </figure>

    <div class="row">
      <div class="left">
        <label for="nome">Nome:</label>
        <p type="text" class="info" id="nome" name="nome"></p>
      </div>
      <div class="right">
        <label for="apelido">Apelido:</label>
        <p type="text" class="info" id="apelido" name="apelido"></p>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <label for="email">Email:</label>
        <p type="email" class="info" id="email" name="email"></p>
      </div>
      <div class="right">
        <label for="telemovel">Telemóvel:</label>
        <p class="info" type="tel" id="telemovel" name="telemovel"></p>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <div class="gender">
          <label>Género:</label>
          <p class="info" type="text" id="gender" name="gender"></p>
        </div>
      </div>
      <div class="right">
        <label for="nif">NIF:</label>
        <p class="info" type="text" id="nif" name="nif"></p>
      </div>
    </div>
  </section>

  <div class="center-row">
    <button type="button" class="btn btn-blue" (click)="openPopup('add')">Adicionar Especialidade</button>
  </div>

  <div class="left-align-row">
    <h2>Especialidades</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th>Especialidade</th>
        <th>Preço por Hora</th>
        <th>Presencial</th>
        <th>Online</th>
        <th>Domicílio</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="(userData && (userData.services.length > 0))">
      <!--<tr>
        <td colspan="6" class="specialities-not-found-placeholder">Não tem especialidades associadas.</td>
      </tr>-->
      <tr *ngFor="let service of userData.services">
        <td>{{ service.specialty }}</td>
        <td>{{ service.pricePerHour | currency:'EUR' }}</td>
        <td>{{ service.presential ? 'Sim' : 'Não' }}</td>
        <td>{{ service.online ? 'Sim' : 'Não' }}</td>
        <td>{{ service.home ? 'Sim' : 'Não' }}</td>
        <td>
          <div class="buttons-container">
            <button class="action-button" (click)="showSpecialtyEdit(service)">
              <img src="assets/images/profile/pencil.png" alt="Edit">
            </button>
            <button class="action-button" (click)="deleteSpeciality(service.serviceId)">
              <img src="assets/images/profile/bin.png" alt="Edit">
            </button>
          </div>
        </td>
      </tr>

    </tbody>
    <tbody *ngIf="!(userData && (userData.services.length > 0))">
      <tr>
        <td colspan="6" class="specialities-not-found-placeholder">Não tem especialidades associadas.</td>
      </tr>
    </tbody>
  </table>

  <div class="left-align-row">
    <h2>Descrição</h2>
  </div>

  <form [formGroup]="updateDescriptionForm" id="update-description-form" autocomplete="off" (ngSubmit)="updateDescription()">
    <div class="description-container">
      <textarea formControlName="description" id="description" name="description" placeholder="Insira a sua descrição..."
          [class.is-invalid]="submittedDescription && updateDescriptionForm.get('description')?.errors"></textarea>
      <div class="container-animation">
        <input class="input-check-animation" type="checkbox" id="check">
        <label class="label-check-animation" for="check">
          <div class="check-icon"></div>
        </label>
      </div>
    </div>
    
    <span class="text-danger" *ngIf="submittedDescription && updateDescriptionForm.get('description')?.hasError('maxLength')">
      A descrição deve ter menos de 500 caracteres.
    </span>
    <div class="right-align-row">
      <button type="submit" class="btn btn-blue">Atualizar</button>
    </div>
  </form>

  <div class="left-align-row">
    <h2>Certificados</h2>
  </div>

  <div id="certificates-container">
    <div id="add-single-container">
      <button id="add-button">
        <img src="assets/images/profile/add.png" alt="Adicionar Certificado">
      </button>
    </div>
    <div class="single-container">
      <img src="assets/images/profile/pdf.png" />
      <div class="pdf-label">
        <abbr class="abbr-pdf-label" title="Certificado de habilitações.pdf">Certificado de habilitações.pdf</abbr>
      </div>
      <div class="align-right-container">
        <button class="delete-button">
          <img src="assets/images/profile/bin.png" alt="Edit">
        </button>
      </div>
    </div>
    <div class="single-container">
      <img src="assets/images/profile/pdf.png" />
      <div class="pdf-label">
        <abbr class="abbr-pdf-label" title="Certificado de habilitaçõesasa cj ddhdsvsdkjv kkjdb  djdfvvjdbvs dchcjc jwwjcw dj sdsdsfff.pdf">Certificado de habilitaçõesasa cj ddhdsvsdkjv kkjdb  djdfvvjdbvs dchcjc jwwjcw dj sdsdsfff.pdf</abbr>
      </div>
      <div class="align-right-container">
        <button class="delete-button">
          <img src="assets/images/profile/bin.png" alt="Edit">
        </button>
      </div>
    </div>


  </div>

  <div class="left-align-row">
    <h2>Reviews</h2>
  </div>

  <div class="no-review" *ngIf="!(userData && userData.reviews.length > 0)">
    O profissional ainda não tem nenhuma review.
  </div>

  <div *ngIf="(userData && userData.reviews && userData.reviews.length > 0)">
    <div class="left-align-row reviews-info">
      <b class="small-right-margin">Filtrar:</b>
      <div class="select-dropdown">
        <select id="select-review" (change)="selectReviewEventReceiver($event)" *ngIf="(userData && userData.services && (userData.services.length > 0))">
          <option value="0">Tudo</option>
          <option *ngFor="let service of userData.services" value="{{ service.specialtyId }}">{{ service.specialty }}</option>
        </select>
      </div>
    </div>

    <div class="left-align-row reviews-info">
      <b class="small-right-margin">Classificação média:</b>
      <span class="small-right-margin">{{ averageStars.toFixed(1).replace('.', ',') }}</span>
      <img src="assets/images/profile/star.png" alt="Estrela" class="star">
    </div>

    <div class="review-container" *ngFor="let review of this.reviews">
      <hr>
      <div class="review-top-row" >
        <div class="left-review-top-row">
          <div class="review-image small-right-margin">
            <img src="{{ review.patientPicture }}" alt="Imagem de perfil" class="review-image small-right-margin">
          </div> 
          <b class="small-right-margin">{{ review.patientName }}</b>
          <span class="small-right-margin">{{ review.stars }}</span>
          <img src="assets/images/profile/star.png" alt="Estrela" class="star">
        </div>
        <div class="right-review-top-row">
          <b>{{ review.serviceName }}</b>
        </div>
      </div> 
      <div class="comment">{{ review.description }}</div>
    </div>
  </div>

  <div class="overlay" id="overlay" (click)="closePopup()">
    <a class="close-button" (click)="closePopup()">
      <img src="assets/images/login/close.png" alt="Close button" class="close-image">
    </a>
    <form [formGroup]="addSpecialityForm" id="add-speciality-container" class="overlay-container" autocomplete="off" (ngSubmit)="addSpeciality()" (click)="stopPropagation($event)">

      <h2>Adicionar Especialidade</h2>

      <div class="speciality-form-box">
        <label for="add-speciality-select">Selecionar Especialidade</label>
        <div class="select-dropdown" id="speciality-select-div" [class.is-invalid]="submittedAdd && addSpecialityForm.get('selectSpeciality')?.errors">
          <select formControlName="selectSpeciality" id="add-speciality-select" required>
            <option value="" disabled hidden>Selecione uma especialidade</option>
            <option *ngFor="let specialty of specialties" value="{{ specialty.id }}">{{ specialty.name }}</option>
          </select>
        </div>
      </div>

      <div class="speciality-form-box">
        <label for="add-price">Preço por Hora:</label>
        <div class="input-wrapper">
          <input formControlName="price" type="number" id="add-price" name="price" required oninput="this.value = this.value.replace(/[^0-9]/g, '');" [class.is-invalid]="submittedAdd && addSpecialityForm.get('price')?.errors">
          <span class="euro-symbol">€ </span>
        </div>
        <span class="text-danger" *ngIf="submittedAdd && (addSpecialityForm.get('price')?.hasError('required') || addSpecialityForm.get('price')?.hasError('min') ||  addSpecialityForm.get('price')?.hasError('max'))">
          O preço tem de estar entre 1€ e 1000€
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Presenciais?</label>
        <div class="radio-row">
          <label for="add-presencial-sim" class="radio-label"><input formControlName="presencial" type="radio" name="presencial" value="S" id="add-presencial-sim"> Sim</label>
          <label for="add-presencial-nao" class="radio-label"><input formControlName="presencial" type="radio" name="presencial" value="N" id="add-presencial-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedAdd && addSpecialityForm.get('presencial')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Online?</label>
        <div class="radio-row">
          <label for="add-online-sim" class="radio-label"><input formControlName="online" type="radio" name="online" value="S" id="add-online-sim"> Sim</label>
          <label for="add-online-nao" class="radio-label"><input formControlName="online" type="radio" name="online" value="N" id="add-online-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedAdd && addSpecialityForm.get('online')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Domicílio?</label>
        <div class="radio-row">
          <label for="add-domicilio-sim" class="radio-label"><input formControlName="domicilio" type="radio" name="domicilio" value="S" id="add-domicilio-sim"> Sim</label>
          <label for="add-domicilio-nao" class="radio-label"><input formControlName="domicilio" type="radio" name="domicilio" value="N" id="add-domicilio-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedAdd && addSpecialityForm.get('domicilio')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>

      <div class="form-buttons-row">
        <button type="submit" class="btn btn-blue">Adicionar</button>

        <button type="reset" class="btn btn-red" (click)="closePopup()">Cancelar</button>
      </div>

    </form>

    <form [formGroup]="editSpecialityForm" id="edit-speciality-container" class="overlay-container" autocomplete="off" (ngSubmit)="editSpeciality()" (click)="stopPropagation($event)">

      <h2>Editar Especialidade</h2>

      <!--<input type="hidden" formControlName="id" id="id-speciality-form" name="id" value="">-->

      <div class="speciality-name" id="speciality-name">

      </div>

      <div class="speciality-form-box">
        <label for="edit-price">Preço por Hora:</label>
        <div class="input-wrapper">
          <input formControlName="price" type="number" id="edit-price" name="price" required oninput="this.value = this.value.replace(/[^0-9]/g, '');" [class.is-invalid]="submittedEdit && editSpecialityForm.get('price')?.errors">
          <span class="euro-symbol">€ </span>
        </div>
        <span class="text-danger" *ngIf="submittedEdit && (editSpecialityForm.get('price')?.hasError('required') || editSpecialityForm.get('price')?.hasError('min') ||  editSpecialityForm.get('price')?.hasError('max'))">
          O preço tem de estar entre 1€ e 1000€
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Presenciais?</label>
        <div class="radio-row">
          <label for="edit-presencial-sim" class="radio-label"><input formControlName="presencial" type="radio" name="presencial" value="S" id="edit-presencial-sim"> Sim</label>
          <label for="edit-presencial-nao" class="radio-label"><input formControlName="presencial" type="radio" name="presencial" value="N" id="edit-presencial-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedEdit && editSpecialityForm.get('presencial')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Online?</label>
        <div class="radio-row">
          <label for="edit-online-sim" class="radio-label"><input formControlName="online" type="radio" name="online" value="S" id="edit-online-sim"> Sim</label>
          <label for="edit-online-nao" class="radio-label"><input formControlName="online" type="radio" name="online" value="N" id="edit-online-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedEdit && editSpecialityForm.get('online')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Domicílio?</label>
        <div class="radio-row">
          <label for="edit-domicilio-sim" class="radio-label"><input formControlName="domicilio" type="radio" name="domicilio" value="S" id="edit-domicilio-sim"> Sim</label>
          <label for="edit-domicilio-nao" class="radio-label"><input formControlName="domicilio" type="radio" name="domicilio" value="N" id="edit-domicilio-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedEdit && editSpecialityForm.get('domicilio')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>

      <div class="form-buttons-row">
        <button type="submit" class="btn btn-blue">Adicionar</button>

        <button type="reset" class="btn btn-red" (click)="closePopup()">Cancelar</button>
      </div>

    </form>

  </div>
  <div *ngIf="errorMessages.length > 0">
    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
  </div>
</main>
