<main>

  <div class="row">
    <section class="top-left">
      <button class="btn btn-blue" (click)="goBack()">Voltar</button>
    </section>

    <div class="title">
      <h1>Chat</h1>
    </div>
  </div>

  <section class="sect">

    <div class="left">

      <div id="title-data" *ngIf="senderRole === 'Patient'">
        <figure>
          <img class="image" alt="Imagem de Perfil" src="/assets/images/Perfil/profileImage.jpg" />
        </figure>
        <div class="text-appointment-name">{{professional?.professionalInfo?.firstName}} {{professional?.professionalInfo?.lastName}}</div>
        <div class="text-appointment">Categoria: {{professional?.professionalType}}</div>
        <div class="text-appointment">Especialidade: {{service?.specialty}}</div>
      </div>

      <div id="title-data" *ngIf="senderRole === 'Professional'">
        <figure>
          <img class="image" alt="Imagem de Perfil" src="/assets/images/Perfil/profileImage.jpg" />
        </figure>
        <div class="text-appointment-name">{{patient?.firstName}} {{patient?.lastName}}</div>
        <div class="text-appointment">Género:  {{patient?.genero === 'F' ? 'Feminino' : 'Masculino'}}</div>
      </div>


      <section *ngIf="chat && chat.isActive == false && (senderRole === 'Professional')">
        <button class="btn btn-blue" (click)="startChat()">Iniciar Conversa</button>
      </section>

      <section *ngIf="chat && chat.isActive && (senderRole === 'Professional')">
        <button class="btn btn-red" (click)="openPopup('remove')">Terminar Conversa</button>
      </section>

      <section *ngIf="senderRole === 'Patient'">
        <button class="btn btn-blue" [routerLink]="['/professional-profile']" [queryParams]="{ id: appointment?.idProfessional }">Ver Perfil</button>
      </section>
    </div>

    <div class="right">

      <div class="chat">

        <div class="chat-header">
        </div>

        <div *ngFor="let message of messages" class="container" [class.sender]="userId === message.userId" [class.not-sender]="userId !== message.userId">
          <div *ngIf="senderRole === 'Professional'">
            <div *ngIf="userId === message.userId">
              <p class="text white-text">{{message.text}}</p>
              <div class="time-container">
                <span class="time white-text">{{ message.timestamp | date:'shortDate':'UTC +1':'pt-PT'}} {{message.timestamp | date:'shortTime':'UTC +1':'pt-PT' }}</span>
              </div>
            </div>
            <div *ngIf="!(userId === message.userId)">
              <p class="text">{{message.text}}</p>
              <div class="time-container">
                <span class="time">{{message.timestamp | date:'shortDate':'UTC +1':'pt-PT'}} {{message.timestamp | date:'shortTime':'UTC +1':'pt-PT'}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="senderRole === 'Patient'">
            <div *ngIf="userId === message.userId">
              <p class="text white-text">{{message.text}}</p>
              <div class="time-container">
                <span class="time white-text">{{ message.timestamp | date:'shortDate':'UTC +1':'pt-PT'}} {{message.timestamp | date:'shortTime':'UTC +1':'pt-PT' }}</span>
              </div>
            </div>
            <div *ngIf="!(userId === message.userId)">
              <p class="text">{{message.text}}</p>
              <div class="time-container">
                <span class="time">{{message.timestamp | date:'shortDate':'UTC +1':'pt-PT'}} {{message.timestamp | date:'shortTime':'UTC +1':'pt-PT'}}</span>
              </div>
            </div>
          </div>
        </div>


      </div>
      <form [formGroup]="sendMessageForm" id="messageDiv" autocomplete="off" (ngSubmit)="sendMessage()">
        <button class="send-button message-icon-left">
          <figure class="">
            <img src="assets/images/Chat/image-icon.png" alt="Butão de submissão de imagens">
          </figure>
        </button>
        <input class="messageBar" type="text" formControlName="message" placeholder="Escreva uma mensagem...">
        <button type="submit" class="send-button message-icon-right">
          <figure class="">
            <img src="assets/images/Chat/send-icon.png" alt="Butão de envio de mensagens">
          </figure>
        </button>
      </form>
    </div>
  </section>

</main>

<div class="overlay" id="overlay" (click)="closePopup()">
  <a class="close-button" (click)="closePopup()">
    <img src="assets/images/login/close.png" alt="Close button" class="close-image">
  </a>

  <div id="remove-appointment-container" class="overlay-container" autocomplete="off" (click)="stopPropagation($event)">

    <h2>Tem a certeza que deseja desativar a conversa?</h2>
    <div class="form-buttons-row">
      <button type="reset" (click)="closePopup()" class="btn btn-blue">Cancelar</button>
      <button type="submit" (click)="endChat()" class="btn btn-red">Terminar</button>
    </div>
  </div>
</div>

