<main>
  <section class="form-row">

    <div id="button">
      <button [routerLink]="['/edit-profile']" class="btn-edit">Editar Perfil</button>
    </div>

    <figure>
      <img class="image" alt="Imagem de Perfil" src="/assets/images/Perfil/profileImage.jpg" />
    </figure>

    <div class="row">
      <div class="left">
        <label for="name">Nome:</label>
        <p type="text" class="info" id="nome" name="nome">
      </div>
      <div class="right">
        <label for="apelido">Apelido:</label>
        <p type="text" class="info" id="apelido" name="apelido">
      </div>
    </div>
    <div class="row">
      <div class="left">
        <label for="email">Email:</label>
        <p type="email" class="info" id="email" name="email">
      </div>
      <div class="right">
        <label for="telemovel">Telemóvel:</label>
        <p class="info" type="tel" id="telemovel" name="telemovel">
      </div>
    </div>
    <div class="row">
      <div class="left">
        <div class="gender">
          <label>Género:</label>
          <p class="info" type="text" id="gender" name="gender">
        </div>
      </div>
      <div class="right">
        <label for="nif">NIF:</label>
        <p class="info" type="text" id="nif" name="nif">
      </div>
    </div>
  </section>

  <p class="agregado-texto">Agregado Familiar</p>
  <section id="agregado">
    <div id="plus">
      <button class="plus-button" (click)="openPopup('add')"><img alt="Adicionar" id="plus-button" src="/assets/images/Perfil/plus.png"></button>
    </div>
    <div class="tab" *ngFor="let relative of relatives">
      <div id="icons">
        <button class="edit-button" (click)="callMultipleFunctions('edit',relative)"><img alt="Editar" class="agregado-imagem" src="/assets/images/Perfil/edit.png"></button>
        <button class="delete-button" (click)="deleteRelative(relative.id)"><img alt="Apagar" class="agregado-imagem" src="/assets/images/Perfil/bin.png"></button>
      </div>
      <div class="content">
        <div>
          <span>Nome:</span><p>{{ relative.nome }}</p>
        </div>
        <div>
          <span>NIF:</span><p>{{ relative.nif }}</p>
        </div>
        <div>
          <span>Género:</span><p>{{ relative.genero === 'M' ? 'Masculino' : 'Feminino' }} </p>
        </div>
        <div>
          <span>Data de nascimento:</span><p>{{ relative.dataNascimento | date: 'dd/MM/yyyy' }}</p>
        </div>
      </div>
    </div>
  </section>

  <div class="overlay" id="overlay" (click)="closePopup()">
    <a class="close-button" (click)="closePopup()">
      <img src="assets/images/login/close.png" alt="Close button" class="close-image">
    </a>

    <form [formGroup]="addRelativeForm" (ngSubmit)="addRelative()" id="add-speciality-container" class="overlay-container" autocomplete="off" (click)="stopPropagation($event)">

      <h2>Adicionar Familiar</h2>

      <div class="speciality-form-box">
        <label for="add-nome">Nome:</label>
        <input type="text" id="add-nome" name="nome" formControlName="nome" required [class.is-invalid]="submitted && addRelativeForm.get('nome')?.errors">
        <span class="text-danger" *ngIf="submitted && addRelativeForm.get('nome')?.hasError('required')">
          Introduza o seu nome
        </span>
        <span class="text-danger" *ngIf="submitted && addRelativeForm.get('nome')?.hasError('maxlength')">
          Não pode introduzir mais de 50 caracteres
        </span>
        <span class="text-danger" *ngIf="submitted && addRelativeForm.get('nome')?.hasError('minlength')">
          O nome tem um mínimo de 3 caracteres
        </span>
      </div>
      <div class="speciality-form-box">
        <label for="add-nif">NIF:</label>
        <input type="number" id="add-nif" name="nif" formControlName="nif" oninput="javascript: if (this.value.length > 9) this.value = this.value.slice(0, 9);">
        <span class="text-danger" *ngIf="submitted && (addRelativeForm.get('nif')?.hasError('maxlength') ||  addRelativeForm.get('nif')?.hasError('minlength'))">
          O nif deve ter 9 dígitos
        </span>
      </div>
      <div class="speciality-form-box">
        <label for="add-data-nascimento">Data de Nascimento:</label>
        <input type="date" id="add-data-nascimento" name="dataNascimento" formControlName="dataNascimento">
        <span class="text-danger" *ngIf="submitted && addRelativeForm.get('dataNascimento')?.hasError('required')">
          Introduza uma data de nascimento
        </span>
        <span class="text-danger" *ngIf="submitted && addRelativeForm.get('dataNascimento')?.hasError('error')">
          Introduza uma data válida
        </span>
      </div>
      <div class="speciality-form-box">
        <label for="add-genero">Género:</label>
        <div class="radio-row">
          <label for="masculino" class="radio-label"><input formControlName="genero" type="radio" name="genero" value="M" id="masculino"> Masculino</label>
          <label for="feminino" class="radio-label"><input formControlName="genero" type="radio" name="genero" value="F" id="feminino"> Feminino</label>
        </div>
        <span class="text-danger" *ngIf="submitted && addRelativeForm.get('genero')?.hasError('required')">
          Selecione um género
        </span>
      </div>

      <div class="form-buttons-row">
        <button type="reset" class="btn btn-red">Cancelar</button>
        <button type="submit" class="btn btn-blue">Adicionar</button>
      </div>
    </form>

    <form [formGroup]="editRelativeForm" (ngSubmit)="updateRelative(selectedRelative)" id="edit-speciality-container" class="overlay-container" autocomplete="off" (click)="stopPropagation($event)">

      <h2>Editar Familiar</h2>

      <div class="speciality-form-box">
        <label for="edit-nome">Nome:</label>
        <input type="text" id="edit-nome" name="nome" formControlName="nome" required [class.is-invalid]="submitted && editRelativeForm.get('nome')?.errors">
        <span class="text-danger" *ngIf="submitted && editRelativeForm.get('nome')?.hasError('required')">
          Introduza o seu nome
        </span>
        <span class="text-danger" *ngIf="submitted && editRelativeForm.get('nome')?.hasError('maxlength')">
          Não pode introduzir mais de 50 caracteres
        </span>
        <span class="text-danger" *ngIf="submitted && editRelativeForm.get('nome')?.hasError('minlength')">
          O nome tem um mínimo de 3 caracteres
        </span>
      </div>
      <div class="speciality-form-box">
        <label for="edit-nif">NIF:</label>
        <input type="number" id="edit-nif" name="nif" formControlName="nif" oninput="javascript: if (this.value.length > 9) this.value = this.value.slice(0, 9);">
        <span class="text-danger" *ngIf="submitted && (editRelativeForm.get('nif')?.hasError('maxlength') ||  editRelativeForm.get('nif')?.hasError('minlength'))">
          O nif deve ter 9 dígitos
        </span>
      </div>
      <div class="speciality-form-box">
        <label for="edit-data-nascimento">Data de Nascimento:</label>
        <input type="date" id="edit-data-nascimento" name="dataNascimento" formControlName="dataNascimento">
        <span class="text-danger" *ngIf="submitted && editRelativeForm.get('dataNascimento')?.hasError('required')">
          Introduza uma data de nascimento
        </span>
        <span class="text-danger" *ngIf="submitted && editRelativeForm.get('dataNascimento')?.hasError('error')">
          Introduza uma data válida
        </span>
      </div>
      <div class="speciality-form-box">
        <label for="edit-genero">Género:</label>
        <div class="radio-row">
          <label for="masculino" class="radio-label"><input formControlName="genero" type="radio" name="genero" value="M" id="masculino"> Masculino</label>
          <label for="feminino" class="radio-label"><input formControlName="genero" type="radio" name="genero" value="F" id="feminino"> Feminino</label>
        </div>
        <span class="text-danger" *ngIf="submitted && editRelativeForm.get('genero')?.hasError('required')">
          Selecione um género
        </span>
      </div>

      <div class="form-buttons-row">
        <button type="submit" class="btn btn-blue">Editar</button>
        <button type="reset" class="btn btn-red">Cancelar</button>
      </div>
    </form>
  </div>

  <div *ngIf="loading">
    <loading-spinner></loading-spinner>
  </div>
</main>
