<main>
  <div class="top-row">
    <div class="page-title">
      <h1>Login</h1>
    </div>
    <button class="recover-account-button" name="recover-account" id="recover-account" (click)="openPopup('conta')">Recuperar Conta</button>
  </div>

  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
      <p class="box">
        <input formControlName="email" type="email" class="textbox" placeholder=" " name="email" id="email" required>
        <label for="email">Email</label>
        <!--<span class="text-danger" *ngIf="submitted && loginForm.get('email')?hasError('required')">
          Email é obrigatória
        </span>-->
      </p>

      <p class="box" id="password-box">
        <input formControlName="password" type="password" class="textbox" placeholder=" " name="password" id="password" required>
        <label for="password">Password</label>
        <!--<span class="text-danger" *ngIf="submitted && loginForm.get('password')?hasError('required')"> 
          Password é obrigatória
        </span>-->
      </p>

      <p class="link-area"><a (click)="openPopup('pass')">Esqueceu-se da password? </a></p>

      <p class="box">
        <button type="submit" class="login-button login-button-animation" name="submit-login" id="submit-login">
          Login
        </button>
      </p>
    </form>
    <p class="link-area"><a [routerLink]="['/authentication/register']">Não Possui Conta? <b>Registe-se</b> </a></p>

  </div>

  <div class="login-divider">
    <hr>
    <h2> OU </h2>
    <hr>
  </div>

  <div class="login-form">
    <p class="box">
     

      <button class="login-button button" name="google-login-button" id="google-login-button">
        <img src="assets/images/login/google-login.jpg" alt="Google Logo" class="google-logo">
        Continuar com Google
      </button>
      <!-- <a href="#">Submit</a> -->
    </p>
  </div>

  <div class="overlay" id="overlay" (click)="closePopup()">
    <a class="close-button" (click)="closePopup()"><img src="assets/images/login/close.png" alt="Close button" class="close-image"></a>
    <app-recuperar-pass (click)="stopPropagation($event)" id="recuperar-pass"></app-recuperar-pass>
    <app-recuperar-conta (click)="stopPropagation($event)" id="recuperar-conta"></app-recuperar-conta>
  </div>

</main>
