<div class="header">
  <h1 *ngIf="(authenticationService.user$ | async) === null">Bem vindo ao LusoHealth!</h1>
  <h1 *ngIf="(authenticationService.user$ | async) as user">Bem-vindo ao LusoHealth, {{ getFirstAndLastName(user.name) }}</h1>
  <input class="search-bar" type="text" placeholder="Pesquisa por algum serviço">
</div>
<div class="profile-box">
  <img src="profile.jpg" alt="Profile Picture">
  <h2>Nome</h2>
  <p>Especialidade</p>
  <p>Localização</p>
  <p>Preço por Consulta: 18€</p>
</div>

