<div class="header">
  <!-- <h1 *ngIf="(authenticationService.user$ | async) === null">Bem vindo ao LusoHealth!</h1>
   <h1 *ngIf="(authenticationService.user$ | async) as user">Bem-vindo ao LusoHealth, {{ getFirstAndLastName(user.name) }}</h1>-->
  <h1>LusoHealth</h1>
  <input class="search-bar" type="text" placeholder="Pesquisa por algum serviço">

  <div class="populares">
    <h2>Populares:</h2>
    <ul>
      <li>Cardiologia</li>
      <li>Pediatria</li>
      <li>Acupuntura</li>
    </ul>
  </div>
</div>
