.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/HomePage/Banner.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px;
  width: 100%;
  height: 40vh;
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 100px;
}

h1 {
  text-align: left;
  margin: 40px auto 20px auto;
  font-size: 60px;
  color: #fff;
}

.search-bar {
  margin: 20px auto;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
}

.populares {
  text-align: center;
  color: #fff;
}

  .populares h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .populares ul {
    list-style-type: none;
    padding: 0;
  }

  .populares li {
    display: inline-block;
    margin: 0 10px;
  }
