<main>

  <section class="form-row">

    <div id="button" *ngIf="(isPatient)">
      <button style="display: none;" class="top-right-btn btn-red">Reportar</button>
    </div>

    <figure>
      <img class="image" alt="Imagem de Perfil" [src]="profileImagePath" />
    </figure>

    <div class="top-center-row">
      <div class="top-center-row-container">
        <div class="top-center-row-text" id="nome"></div>
      </div>
      <div class="top-center-row-container" id="top-center-row-container-right">
        <img class="email-img" src="/assets/images/Perfil/open-mail.png" />
        <div class="top-center-row-text" id="email"></div>
      </div>
    </div>

  </section>

  <div class="left-align-row">
    <h2>Especialidades</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th>Especialidade</th>
        <th>Preço por Hora</th>
        <th>Tipos de Consultas</th>
        <th *ngIf="(isPatient)"></th>
      </tr>
    </thead>
    <tbody *ngIf="(userData && (userData.services.length > 0))">
      <tr *ngFor="let service of userData.services">
        <td>{{ service.specialty }}</td>
        <td>{{ service.pricePerHour | currency:'EUR' }}</td>
        <td>{{ appointmentTypesToString(service) }}</td>
        <td *ngIf="(isPatient)">
          <div class="buttons-container">
            <button class="btn btn-blue">Marcar</button>
          </div>
        </td>
      </tr>

    </tbody>
    <tbody *ngIf="!(userData && (userData.services.length > 0))">
      <tr>
        <td colspan="4" class="specialities-not-found-placeholder">Não tem especialidades associadas.</td>
      </tr>
    </tbody>
  </table>

  <div class="left-align-row">
    <h2>Descrição</h2>
  </div>

  <div class="description-text">
    <p class="pre-wrap-text" *ngIf="(userData && userData.description && userData.description.length > 0)">
      {{ userData.description }}
    </p>
    <p *ngIf="!(userData && userData.description  && userData.description.length > 0)">
      Este profissional ainda não tem uma descrição.
    </p>

  </div>

  <!--<form [formGroup]="updateDescriptionForm" id="update-description-form" autocomplete="off" (ngSubmit)="updateDescription()">
    <div class="description-container">
      <textarea formControlName="description" id="description" name="description" placeholder="Insira a sua descrição..."
                [class.is-invalid]="submittedDescription && updateDescriptionForm.get('description')?.errors"></textarea>
      <div class="container-animation">
        <input class="input-check-animation" type="checkbox" id="check">
        <label class="label-check-animation" for="check">
          <div class="check-icon"></div>
        </label>
      </div>
    </div>

    <span class="text-danger" *ngIf="submittedDescription && updateDescriptionForm.get('description')?.hasError('maxLength')">
      A descrição deve ter menos de 500 caracteres.
    </span>
    <div class="right-align-row">
      <button type="submit" class="btn btn-blue">Atualizar</button>
    </div>
  </form>-->

  <div class="left-align-row">
    <h2>Certificados</h2>
  </div>

  <div id="certificates-container">
    <!--<div id="add-single-container">
      <button id="add-button" (click)="fileInput.click()">
        <img src="assets/images/profile/add.png" alt="Adicionar Certificado">
      </button>
      <input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)" accept=".pdf">
    </div>-->
    <div class="single-container" *ngFor="let pdf of pdfList">
      <button type="button" class="pdf-image-btn" (click)="openPdf(pdf.path)">
        <img src="assets/images/profile/pdf.png" />
      </button>
      <div class="pdf-label">
        <abbr class="abbr-pdf-label" (click)="openPdf(pdf.path)" title="{{pdf.name}}">{{pdf.name}}</abbr>
      </div>
      <!--<div class="align-right-container">
        <button class="delete-button" (click)="deletePdf(pdf.certificateId)">
          <img src="assets/images/profile/bin.png" alt="Delete">
        </button>
      </div>-->
    </div>
  </div>


  <div class="display-row">
    <h2>Reviews</h2>
    <button class="btn btn-blue" id="add-review-btn" (click)="openPopup('add')" *ngIf="(isPatient && userData && userData.services && (userData.services.length > 0))">Adicionar Review</button>
  </div>

  <div class="no-review" *ngIf="!(userData && userData.reviews.length > 0)">
    O profissional ainda não tem nenhuma review.
  </div>

  <div *ngIf="(userData && userData.reviews && userData.reviews.length > 0)">
    <div class="review-top-row reviews-info">
      <div class="display-row">
        <b class="small-right-margin">Filtrar:</b>
        <div class="select-dropdown">
          <select id="select-review" (change)="selectReviewEventReceiver($event)" *ngIf="(userData && userData.services && (userData.services.length > 0))">
            <option value="0">Tudo</option>
            <option *ngFor="let service of userData.services" value="{{ service.specialtyId }}">{{ service.specialty }}</option>
          </select>
        </div>
      </div>
    </div>

    <div *ngIf="(reviews && reviews.length > 0)">
      <div class="left-align-row reviews-info">
        <b class="small-right-margin">Classificação média:</b>
        <span class="small-right-margin">{{ averageStars.toFixed(1).replace('.', ',') }}</span>
        <img src="assets/images/profile/star.png" alt="Estrela" class="star">
      </div>

      <div class="review-container" *ngFor="let review of this.reviews">
        <hr>
        <div class="review-top-row">
          <div class="left-review-top-row">
            <div class="review-image small-right-margin">
              <img src="{{ review.patientPicture }}" alt="Imagem de perfil" class="review-image small-right-margin">
            </div>
            <b class="small-right-margin">{{ review.patientName }}</b>
            <span class="small-right-margin">{{ review.stars }}</span>
            <img src="assets/images/profile/star.png" alt="Estrela" class="star">
          </div>
          <div class="right-review-top-row">
            <b>{{ review.serviceName }}</b>
          </div>
        </div>
        <div class="comment">{{ review.description }}</div>
      </div>
    </div>
    <div class="no-review" *ngIf="!(reviews && reviews.length > 0)">
      Esta especialidade ainda não tem nenhuma review.
    </div>
  </div>

  <div style="display: flex;" class="overlay" id="overlay" (click)="closePopup()">
    <a class="close-button" (click)="closePopup()">
      <img src="assets/images/login/close.png" alt="Close button" class="close-image">
    </a>
    <form style="display: block;" [formGroup]="addSpecialityForm" (ngSubmit)="addSpeciality()" id="add-speciality-container" class="overlay-container" autocomplete="off" (click)="stopPropagation($event)">

      <h2>Adicionar Review</h2>

      <div class="speciality-form-box">
        <label for="add-speciality-select">Selecionar Especialidade</label>
        <div class="select-dropdown" id="speciality-select-div" [class.is-invalid]="submittedAdd && addSpecialityForm.get('selectSpeciality')?.errors">
          <select formControlName="selectSpeciality" id="add-speciality-select" required *ngIf="(userData && userData.services && (userData.services.length > 0))">
            <option hidden disable>Selecione uma especialidade</option>
            <option *ngFor="let service of userData.services" value="{{ service.specialtyId }}">{{ service.specialty }}</option>
          </select>
        </div>
      </div>

      <div class="speciality-form-box">
        <div class="rating">
          <label id="label-star-5" for="star5" [class.starOn]="radioStar5">
            <input type="radio" id="star5" formControlName="rating" name="rating" value="5" (change)="checkInput(5)" />
          </label>
          <label id="label-star-4" for="star4" [class.starOn]="radioStar4">
            <input type="radio" id="star4" formControlName="rating" name="rating" value="4" (change)="checkInput(4)" />
          </label>
          <label id="label-star-3" for="star3" [class.starOn]="radioStar3">
            <input type="radio" id="star3" formControlName="rating" name="rating" value="3" (change)="checkInput(3)" />
          </label>
          <label id="label-star-2" for="star2" [class.starOn]="radioStar2">
            <input type="radio" id="star2" formControlName="rating" name="rating" value="2" (change)="checkInput(2)" />
          </label>
          <label id="label-star-1" for="star1" [class.starOn]="radioStar1">
            <input type="radio" id="star1" formControlName="rating" name="rating" value="1" (change)="checkInput(1)" checked="checked"/>
          </label>
        </div>
      </div>

      <div class="speciality-form-box">
        <label for="add-price">Descrição:</label>
        <textarea formControlName="description" id="description-review" name="description" placeholder="Insira a sua descrição..."></textarea>
      </div>

      <div class="form-buttons-row">
        <button type="submit" class="btn btn-blue">Adicionar</button>

        <button type="reset" class="btn btn-red" (click)="closePopup()">Cancelar</button>
      </div>

    </form>

    <form [formGroup]="editSpecialityForm" id="edit-speciality-container" class="overlay-container" autocomplete="off" (ngSubmit)="editSpeciality()" (click)="stopPropagation($event)">

      <h2>Editar Especialidade</h2>

      <!--<input type="hidden" formControlName="id" id="id-speciality-form" name="id" value="">-->

      <div class="speciality-name" id="speciality-name">

      </div>

      <div class="speciality-form-box">
        <label for="edit-price">Preço por Hora:</label>
        <div class="input-wrapper">
          <input formControlName="price" type="number" id="edit-price" name="price" required oninput="this.value = this.value.replace(/[^0-9]/g, '');" [class.is-invalid]="submittedEdit && editSpecialityForm.get('price')?.errors">
          <span class="euro-symbol">€ </span>
        </div>
        <span class="text-danger" *ngIf="submittedEdit && (editSpecialityForm.get('price')?.hasError('required') || editSpecialityForm.get('price')?.hasError('min') ||  editSpecialityForm.get('price')?.hasError('max'))">
          O preço tem de estar entre 1€ e 1000€
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Presenciais?</label>
        <div class="radio-row">
          <label for="edit-presencial-sim" class="radio-label"><input formControlName="presencial" type="radio" name="presencial" value="S" id="edit-presencial-sim"> Sim</label>
          <label for="edit-presencial-nao" class="radio-label"><input formControlName="presencial" type="radio" name="presencial" value="N" id="edit-presencial-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedEdit && editSpecialityForm.get('presencial')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Online?</label>
        <div class="radio-row">
          <label for="edit-online-sim" class="radio-label"><input formControlName="online" type="radio" name="online" value="S" id="edit-online-sim"> Sim</label>
          <label for="edit-online-nao" class="radio-label"><input formControlName="online" type="radio" name="online" value="N" id="edit-online-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedEdit && editSpecialityForm.get('online')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>
      <div class="speciality-form-box">
        <label>Deseja ter consultas Domicílio?</label>
        <div class="radio-row">
          <label for="edit-domicilio-sim" class="radio-label"><input formControlName="domicilio" type="radio" name="domicilio" value="S" id="edit-domicilio-sim"> Sim</label>
          <label for="edit-domicilio-nao" class="radio-label"><input formControlName="domicilio" type="radio" name="domicilio" value="N" id="edit-domicilio-nao"> Não</label>
        </div>
        <span class="text-danger" *ngIf="submittedEdit && editSpecialityForm.get('domicilio')?.hasError('required')">
          Escoha uma opção
        </span>
      </div>

      <div class="form-buttons-row">
        <button type="submit" class="btn btn-blue">Adicionar</button>

        <button type="reset" class="btn btn-red" (click)="closePopup()">Cancelar</button>
      </div>

    </form>

  </div>
  <div *ngIf="errorMessages.length > 0">
    <app-validation-messages [errorMessages]="errorMessages"></app-validation-messages>
  </div>
</main>
